div(class="tile is-child")
  .guestbook
    form(class="guestbook-form" method="post" action="/feed")
      .field
        lable(class="label" for="newEntry")
        input(class="input" name="newEntry" type="text" id="newEntry"
        placeholder="Sign the Guestbook!")
      .control
        button(class="button is-primary" type="submit") Sign
div(class="tile is-child")    
  h2(class="subtitle") Recent Guestbook Entries:
  .entries
    each entry in renderEntries
      article(class="media")
        figure(class="media-left")
          strong=entry.username
        .media-content
          .content
            p=entry.content
            p= new Date(entry.date)