block registration-form
  .container
    form(method="post" action="/register")
      .field
        label(class="label" for="formUserName") New username:
        input(class="input" name="formUserName" type="text" id="formUserName" value=renderUserName)
      .field
        label(class="label" for="email") Email:
        input(class="input" name="email" type="text" id="email" value=renderEmail)
      .field
        label(class="label" for="password") New password:
        input(class="input" name="password" type="password" id="password")
      .field
        label(class="label" for="passConf") Confirm password:
        input(class="input" name="passConf" type="password" id="passConf")
      .control
        button(class="button is-primary" type="submit") Submit