block registration-form
  form(method="post" action="/register")
    label(for="username") New username:
    input(name="username" type="text" id="username" value=username)
    label(for="email") Email:
    input(name="email" type="text" id="email" value=email)
    label(for="password") New password:
    input(name="password" type="password" id="password")
    label(for="passConf") Confirm password:
    input(name="passConf" type="password" id="passConf")
    input(type="submit")
  p #{errors}