block registration-form
  form(method="POST" action="/welcome")
    label first name:
    input
    label last name:
    input
    label alias:
    input
    label password:
    input
    input(type="submit" href="/welcome")
  a(href="/guest") Sign in as guest