extends layout
block main
  unless (errors)
    include includes/registerFriend.pug
  if (errors)
    include includes/registerRetry.pug
    div(class="notification is-danger")
      each error in errors
        p= error