extends layout
block head
  h1 Thanks for visiting. Please sign in below!
block content
  form
    label first name:
    input
    label last name:
    input
    label alias:
    input
    input(type="submit" method="POST")
block foot
  p thanks!