html {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-family: "Stylish", sans-serif;
}
a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
p {
  font-family: "Open Sans", sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  height: 100%;
}
